:root {
    --background-color: #fff;
    --text-color: #000;
    --border-color: #ccc;
    --powerball-bg-color: #ffc107;
}

body.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #666;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#theme-toggle-button {
    margin-bottom: 20px;
}

#numbers-container {
    display: flex;
    margin-top: 30px;
}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 18px;
}

.powerball {
    background-color: var(--powerball-bg-color);
}